table{
  border: 2px solid black;
  width: 500px;
  height: 100px;
  border-collapse: collapse;
}

th{
  border: 2px solid black;
}

td{
  border: 2px solid black;
  text-align: center;
}
tr{
  border: none;
  background-color: white;
  color: black;
  text-align: center;
}